.factoryLogo{
    width: 300px;
    height: 300px;
}

.show-required{
    display: inline-block !important;
  }
  
  .hide-required{
    display: none !important;
  }

.space-5{
  margin-left: 5px;
}

.show{
  display: block;
}

.hide{
  display: none;
}